[submodule ".registry"]
	path = .registry
	url = https://github.com/lazappi/universe
	branch = HEAD
[submodule "clamour"]
	path = clamour
	url = https://github.com/lazappi/clamour
[submodule "clustree"]
	path = clustree
	url = https://github.com/lazappi/clustree
[submodule "doilinker"]
	path = doilinker
	url = https://github.com/lazappi/doilinker
[submodule "splatter"]
	path = splatter
	url = https://github.com/Oshlack/splatter
[submodule "zellkonverter"]
	path = zellkonverter
	url = https://github.com/theislab/zellkonverter
